<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>操作成功</title>
        <meta name="description" content="bupay布冰厅支付系统 布支付 无需签约 无需第三方SDK 完全免费">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .main{
                margin-top: 40px;
                text-align: center;
            }
            .text{
                margin-top: 10px;
            }
        </style>
    </head>

    <body>
        
            <div class="main">
                <img src="http://oweupqzdv.bkt.clouddn.com/success.png" width="50">
                <div class="text">恭喜您，支付成功！</div>
                <div class="text">十分感谢您的支付，您可以到这里查看到您的支付数据：
                    <a href="http://www.bubbt.com/bupay/thanks">支付名单</a></div>
            </div>
    </body>
</html>
